.signUp {
  margin-top: 4rem;
  text-align: center;
  /* align-items: center;
  align-self: center;
  align-content: center; */
}

.Radio {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.MuiFormGroup-row {
  justify-content: center;
}
.conti {
  background-color: #aed581;
}
